<!--                  polls:vote question.id -->
<form action="{% url 'search:searchbox' domain.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ domain.name }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<!--     {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
 -->
</fieldset>
<!-- <input type="submit" value="Vote"> -->
<input type="submit" value="SearchQuery">
</form>
